.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  form {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;

    .Title {
      color: #3a3a3a;
      text-align: center;
      margin-bottom: 30px;
      font-size: 28px;
      font-weight: 600;
    }

    .Container {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    input {
      padding: 12px 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 16px;
      transition: all 0.3s ease;
      outline: none;

      &:focus {
        border-color: #667eea;
        box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);
      }
    }


    button {
      width: 100%;
      padding: 12px;
      background: #4e69d4;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    button:hover {
      background: rgb(93, 123, 241) 4;
    }


    select {
      background: white;
      padding: 12px 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 16px;
      transition: all 0.3s ease;
      outline: none;
      margin-bottom: 1rem;
    }
  }

}